html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,p,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    border:0;font-family:'glametrixlight',helvetica,verdana,arial,tahoma;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;text-decoration:none;vertical-align:baseline}
sub,sup{border:0;font-family:'glametrixlight',helvetica,verdana,arial,tahoma;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;text-decoration:none}
table{border-collapse:collapse;border-spacing:0}
:focus,:active{outline:0}
ol,ul{list-style:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
blockquote,q{quotes:none}
.clearfix:after{clear:both;content:"";display:block;font-size:0;height:0;visibility:hidden}
.center{text-align:center}
img{display:block;}




html, body {background:#fff;overflow-x:hidden;}
b {font-weight: bold;}

.wrapper, .block {width:960px; position: relative; left: 50%; margin-left: -480px; display: block;}
.block{margin-top:40px;padding-bottom:70px;}
#header{position: fixed;width: 100%;z-index: 3;}
a.up{display: block;position: fixed;z-index: 14;opacity: 0.5;bottom: 5%;background: url(../img/up.png) no-repeat;background-size: cover;width: 60px;height: 60px;}
a.up:hover{cursor: pointer;opacity: 1;bottom: 5.3%;
}
#top{width:100%;height:25px;
border-bottom:1px solid #c3c3c3;
background: #f1f2f2;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f2f2', endColorstr='#e6e6e7');
background: -webkit-linear-gradient(to bottom, #f1f2f2, #e6e6e7);
background: -moz-linear-gradient(to bottom, #f1f2f2, #e6e6e7);  
background: -o-linear-gradient(to bottom, #f1f2f2, #e6e6e7);
background: -ms-linear-gradient(to bottom, #f1f2f2, #e6e6e7);
background: linear-gradient(to bottom, #f1f2f2, #e6e6e7);
line-height: 25px;
font-size: 12px;
z-index: 999;
}
#select{position:absolute;left:0%;width:184px;height:40px; display: none;}
#select p{font-family:arial;}
#selector1{height: 21px;width: 21px;height: 21px;width: 21px;position: absolute;top: 2px;left: 100px;cursor: pointer;}
#selector2{height: 21px;width: 21px;position: absolute;top: 2px;left: 124px;cursor: pointer;}

#selector1.current, #selector2.current, #selector1:hover, #selector2:hover {background: url(/img/sel_bg.png);height: 21px;width: 21px;}
#vertical{background: url(/img/sel_ver.png); width: 9px; height: 13px; margin: 4px auto 0px;
}
#paralax{background: url(/img/sel_par.png);width: 15px;height: 10px;margin: 6px auto;}
#right{position:relative;float:right;right:0%;}
#cabinet{color:#000;border-left:1px solid #d7d7d7;text-align:center;width:140px;float:right; display: inline-block;}
#request_top{color:#000;border-left:1px solid #d7d7d7;float:right;text-align:center;width:140px; display: inline-block;}
#back_call{color:#000;float:right;text-align:center;width:150px;border-right:1px solid #d7d7d7;border-left:1px solid #d7d7d7; display: inline-block;}
#phone{float:right;margin-left:30px;font-weight:bold; display: inline-block;}

#headerbox{height:70px;
-webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.4);
-o-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.4);
-ms-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.4);
box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.4);
background: #fff;
}
#number_enter{position:absolute;width:189px;height:58px;background:#ececed;border:1px solid #cecece;z-index:3;right:95px;top:-194px;}
#number_enter p{font-size:12px;width:170px;margin-left:5px;color:#757575;}
#number_enter input[type="text"]{border:none;height:18px;width:157px;margin-left:4px;display:inline-block;float:left;}
#number_enter input[type="submit"]{border:none; background: url(/img/submit.png) no-repeat; width: 20px; height: 20px; background-size: cover; position: relative; left: -3px; display: inline-block; float: right; cursor: pointer;}
form#enter{margin-top: 3px}

a#logo{display:block; background: url(/img/logo.jpg) no-repeat; background-size: cover; height: 52px; width: 198px; position: absolute; top: 12px; left: 12px;}
#nav{position:absolute;left:225px;line-height:70px;margin-top:0px;width:54%;}
#nav li{float:left;}
#nav li a{height:67px;display:block;color:#000;font-weight:bold;font-family:arial;padding:0 8px;font-size:12px;margin:0 1px;line-height:90px;}
#nav li a:hover, #nav li.curr a,#nav li ul#uslugi li a:hover, #nav li ul#uslugi li.curr a{border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3; margin: 0px;}

#nav li:hover ul#uslugi{display:block; position: absolute; }
#nav li ul#uslugi {display:none;width: 933px;margin-top: 3px; border: 1px solid #e3e3e3; background: #fff; ;margin-left: -363px;}
#nav li ul#uslugi li{display: inline-block; background-color: #fff; text-align: center; float: left; height: 43px;}
#nav li ul#uslugi li a{display: block; background-color: #fff;height:42px;color:#000;font-weight:bold;font-family:arial;font-size:12px;line-height:56px !important;} 
#nav li ul#uslugi li a:hover, #nav li ul#uslugi li.curr a{border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3;border-top:1px solid #e3e3e3;margin-top:-1px;}
#nav li:hover,#nav li.curr{border-bottom:3px solid #1f8eda;}
.search{float:right;position:relative;right:20px;top:21px;}
.search input[type="submit"] {border:none;background:url(/img/search.png) no-repeat;background-size:cover;height:17px;width:13px;position:relative;left:23px;top:3px;cursor:pointer;z-index:2;}
.search input[type="search"] {border:1px solid #6db5e7;position:relative;background:none;height:24px;width:172px;padding-left:20px; -webkit-box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.1);
-moz-box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.1);
--o-box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.1);-ms-box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.1);box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.1);font-size: 11px;}

#block1{margin-top:135px;}
#laba{ display:block; }
#laba img{ display:block; width:858px; float:right; position:relative; }
.laba_href{position:absolute;color:#fff;text-transform:uppercase;font-size:10px;line-height:12px;}
.laba_href:hover{margin-top: 1px; color:#eee;}
#laba_href1{top:101px;left:143px;width:24px;}
#laba_href2{top:166px;left:188px;}
#laba_href3{top:214px;left:126px;}
       
.stripe{border-top:1px solid;position:relative;top:20px;}
.town{width:49%;float:left;margin-top:25px;}
.e{position: absolute; left: 38%; width: 8%;}
.content{float:right;width:50%; color: #000;}
#content{padding-bottom: 20px; margin-top: 150px}
.content h1{text-transform:uppercase;font-size:16px;font-weight:bold; border-bottom:3px solid; text-align:center;}
.content h2,{font-size: 16px; font-weight: bold; margin-top: 10px;}
.content p, #content p {font-size:12px;margin-top:15px;line-height:15px;}
.content li,.content li a,.content ul{font-size:12px; color:#000; line-height:17px;}
.content li a{text-decoration: underline;}
.moar{position:relative;left:83%;cursor:pointer;}
#e_moskov{top:176px;width:7%;}
#e_kiev{top:111px;}
#e_ny{top:147px;}
#e_paris{top:230px;}
#e_sidney{top:125px;}
#e_spb{top:133px;width:6%;}
#e_seol{top:126px;}
#e_rome{top:164px;width:6%;}
#e_london{top:165px;}
/* #e_altay{width:11%;position:absolute;right:6%;top:288px;}*/
#e_altay{width:9%;position:absolute;top:36px;left:39%;}
#e_contact{left:85%;position:absolute;width:9%;top:300px;}

#block2{}
#stripe2{color:#1f8eda;}
#content2 h1{color:#1f8eda;border-bottom:3px solid;width:113px;}
#moar2 {color:#1f8eda;}

#block3{}
#stripe3{color:#313131;}
#content3 h1{color:#313131;width:153px;}
#moar3 {color:#313131;}


#block4{}
#stripe4{color:#c24c51;}
#content4 h1{color:#c24c51;width:193px;}
#moar4 {color:#c24c51;}

#block5{}
#stripe5{color:#23942d;}
#content5 h1{color:#23942d;width:116px;}
#moar5 {color:#23942d;}

#block6{}
#stripe6{color:#1f8eda;}
#content6 h1{color:#1f8eda;width:130px;}
#moar6 {color:#1f8eda;}

#block7{}
#stripe7{color:#313131;}
#content7 h1{color:#313131;width:125px;}
#moar7 {color:#313131;}


#block8{}
#stripe8{color:#c24c51;}
#content8 h1{color:#c24c51;width:212px;}
#moar8 {color:#c24c51;}

#block9{}
#stripe9{color:#23942d;}
#content9 h1{color:#23942d;width:201px;}
#moar9 {color:#23942d;}

#block10{}
#stripe10{color:#1f8eda;}
#content10 h1{color:#1f8eda;width:182px;}
#moar10 {color:#1f8eda;}

#block11{}
#stripe11{color:#313131;}
#content11{width: 100%}
#content11 h1{color:#313131;width:109px;margin-left:5px;}
#moar11 {color:#313131;}
#gallery{display: block;position: relative;left: 50%;margin-left: -480px;}
.mini{z-index: 99;}
.mini a{display: inline-block !important;
opacity: 0.8;
margin: 10px 1%;}
.mini a:hover{opacity: 1;}

#block12{padding-bottom:0px;}
#stripe12{color:#c24c51;}
#content12{width: 100%;display: block;position: relative;}
#content12 h1{color:#c24c51;width:87px;margin-left:5px;}
#moar12 {color:#c24c51;}
/*#content12 .miniatures{
    width: 48%;
    display: inline-block;
    margin-left: 4%;
    position: relative;}

.middle{
    z-index: 99;
    display: block;}
.middle a{
    display: inline-block !important;
    padding: 2% 5%;
    width: 22%;
opacity: 0.9;}
.middle a:hover{opacity: 0.99;}
.middle a img{
    width: 100%;}    
.mini1{
    display: block;}
.mini1 a{
    display: inline-block !important;
    padding: 2% 5%;
    width: 14%;
    opacity: 0.8;
    z-index: 18;}
.mini1 a:hover{opacity: 1}
.mini1 a img{
    width: 100%;
    z-index: 11;
    } */


/*Временный стиль новостей*/





.news{
    width: 45%;
    display: inline-block;
    position: absolute;
    right: 5%;}
        
#news_background{
    background: url(/img/altay.jpg) no-repeat;
    width: 505px;
    float: left;
    height: 187px;
    background-size: contain;
    margin-top: -13px;
}

#block13{}
#stripe13{color:#23942d;}
#content13{width: 100%;display: block;position: relative;}
#content13 h1{color:#23942d;width:97px;margin-left:5px;}
#map{margin-top:20px;margin-left:10px;}
#contacts{width:45%;float:right;}

#footer{
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0%;
    margin: 40px auto 30px;
    background: #fff;
    z-index: 1;

}
@media screen and (min-width: 1350px) {
.wrapper, .block {width:1300px; position: relative; left: 50%; margin-left: -650px; }
.block{margin-top:30px;padding-bottom:60px;}

#top{height: 30px; line-height: 30px; font-size: 14px;}
#selector1{left: 115px;top: 4px;}
#selector2{left: 137px;top: 4px;}

#number_enter{right: 92px;width: 210px;height: 65px; }
#number_enter p{ font-size: 14px; width: 200px;}
#number_enter input[type="text"]{ height: 20px; width: 176px;}
#number_enter input[type="submit"]{ width: 22px; height: 22px;}
form#enter{margin-top: 5px}
#headerbox{height: 85px;font-size: 14px;}
a#logo{ width: 277px; height: 72px; top: 9px;}
#nav{left: 326px;}
#nav li a{height: 82px;font-size: 14px;padding: 0 14px;line-height: 100px; }

#nav li ul#uslugi {width: 1193px;margin-left: -474px;}
#nav li ul#uslugi li{ height: 60px;}
#nav li ul#uslugi li a{height:60px;font-size:14px;line-height:75px !important;} 

.search input[type="search"]{ width: 230px; height: 28px; font-size: 13px; padding-left: 25px;}
.search input[type="submit"]{ height: 20px; width: 15px; top: 6px;}

#block1{margin-top: 170px;}
#laba img{ width: 1150px;}
.laba_href{ font-size: 14px; line-height: 14px;}
#laba_href1{ top: 137px; left: 205px;}
#laba_href2{ top: 223px; left: 264px;}
#laba_href3{ top: 288px; left: 183px;}

.content h1{text-transform:uppercase;font-size:18px;font-weight:bold; border-bottom:3px solid; text-align:center; margin-top:-2px;}
.content h2{font-size: 16px; font-weight: bold; margin-top: 10px;}
.content p, #content p, label.required{font-size:14px;margin-top:25px;line-height:20px;}
.content li,.content li a,.content ul{font-size:14px; color:#000; line-height:20px;}
#content{padding-bottom: 20px; margin-top: 190px}
#content2 h1{ width: 130px;}
#content3 h1{width: 173px;}
#content4 h1{width: 216px;}
#content5 h1{width: 135px;}
#content6 h1{width: 148px;}
#content7 h1{width: 139px;}
#content8 h1{width: 236px;}
#content9 h1{width: 224px;}
#content10 h1{width: 208px;}
#content11 h1{width: 120px;}
#content12 h1{width: 94px;}
#content13 h1{width: 108px;}
#e_moskov{top:199px;}
#e_kiev{top:152px;}
#e_ny{top:205px;}
#e_paris{top:294px;}
#e_sidney{top:168px;}
#e_spb{top:197px;}
#e_seol{top:164px;}
#e_rome{top:245px;}
#e_london{top:231px;}
/*#e_altay{ top: 369px;}*/
#e_altay{ top: 25px;}
#e_contact{ top: 292px;}

#gallery{ left: 50%; margin-left: -613px;}
.mini a{ margin: 20px 40px;}
#news_background{ width: 680px; height: 247px; margin-top: -32px;}

#map{ margin: 20px 0 0 80px;}
#contacts{width: 50%;}
}


@media screen and (min-width: 1850px) {
.wrapper, .block {width:1750px; position: relative; left: 50%; margin-left: -875px; }
.block{margin-top:50px;padding-bottom:80px;}

#top{height: 35px; line-height: 35px; font-size: 16px;}
#selector1{left: 125px;top: 6px;}
#selector2{left: 149px;top: 6px;}

#headerbox{height: 100px;}
a#logo{ width: 350px; height: 89px; top: 6px;}
#nav{left: 429px;}
#nav li:hover,#nav li.curr{border-bottom:4px solid #1f8eda;}
#nav li a{height: 96px;font-size: 16px;padding: 0 27px;line-height: 116px; }

#nav li ul#uslugi {width: 1531px;margin-left: -571px;margin-top: 4px;margin-left: -589px;}
#nav li ul#uslugi li{ height: 75px;}
#nav li ul#uslugi li a{height:75px;font-size:16px;line-height:90px !important;} 

.search input[type="search"]{ width: 315px; height: 30px; font-size: 15px; padding-left: 35px; margin-top: 15px;}
.search input[type="submit"]{ height: 25px; width: 19px; left: 28px;}
#number_enter{right: 74px;width: 240px;height: 80px; }
#number_enter p{ font-size: 16px; width: 216px;}
#number_enter input[type="text"]{ height: 24px; width: 200px;}
#number_enter input[type="submit"]{ width: 26px; height: 26px; left: -3px;}
form#enter{margin-top: 7px}


#block1{margin-top: 200px;}
#laba img{ width: 1570px;}
.laba_href{ font-size: 16px; line-height: 20px;}
#laba_href1{ top: 186px; left: 256px;}
#laba_href2{ top: 303px; left: 340px;}
#laba_href3{ top: 392px; left: 220px;}

.content h1{text-transform:uppercase;font-size:20px;font-weight:bold; border-bottom:4px solid; text-align:center; margin-top:-5px;}
.content h2{font-size: 18px; font-weight: bold; margin-top: 10px;}
.content p, #content p, label.required{font-size:16px;margin-top:25px;line-height:25px;}
.content li,.content li a,.content ul{font-size:16px; color:#000; line-height:20px;}
#content{padding-bottom: 20px; margin-top: 220px}
#content2 h1{ width: 138px;}
#content3 h1{width: 187px;}
#content4 h1{width: 235px;}
#content5 h1{width: 145px;}
#content6 h1{width: 159px;}
#content7 h1{width: 152px;}
#content8 h1{width: 257px;}
#content9 h1{width: 248px;}
#content10 h1{width: 224px;}
#content11 h1{width: 134px;}
#content12 h1{width: 105px;}
#content13 h1{width: 115px;}
#e_moskov{top:254px;}
#e_kiev{top:186px;}
#e_ny{top:238px;}
#e_paris{top:400px;}
#e_sidney{top:208px;}
#e_spb{top:217px;}
#e_seol{top:213px;}
#e_rome{top:300px;}
#e_london{top:276px;}
/*#e_altay{ top: 483px;}*/
#e_altay{ top: 30px;}
#e_contact{ top: 234px;}

#gallery{ left: 50%; margin-left: -870px;}
.mini a{ margin: 30px 90px;}
#news_background{ width: 905px; height: 327px; margin-top: -37px;}

#map{ margin: 30px 0 0 150px;}
#contacts{width: 51%;margin-top: 20px;}
}

/* online-заявка*/

#content h1{text-transform:uppercase;font-size:16px;font-weight:bold; border-bottom:3px solid; text-align:center; width:402px; margin-left: 5px;}
a#logo_online img{width: 100%}
label.required{font-weight: bold;}
.row.buttons, .row, p.note{position: relative; left: 3%;}
.row.buttons { line-height:35px;}
.row.buttons a p{display:inline-block;color:#000;text-decoration:underline;}
.row.buttons p.required{display:inline-block; white-space: pre;}
.row.buttons input[type="submit"]{border:none;position:absolute;bottom:0px;font-size:16px;padding:5px 15px;background:#1c9ccd;color:#fff;cursor:pointer;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;right:6%;}

.errorSummary{ margin-left: 5%;}
.errorSummary p{font-weight: bold; padding-bottom: 25px;}
.errorSummary ul{margin-left:3%;font-weight: 100; line-height: 25px; margin-bottom: 35px;}

.full-form-links p a{
    background: none repeat scroll 0 0 #1C9CCD;
    border: medium none;
    border-radius: 2px;
    bottom: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 15px;
    right: 6%;
}

#wrapper_online{margin-bottom:40px;}