html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,p,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    border:0;font-family:'glametrixlight',helvetica,verdana,arial,tahoma;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;text-decoration:none;vertical-align:baseline}
sub,sup{border:0;font-family:'glametrixlight',helvetica,verdana,arial,tahoma;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;text-decoration:none}
table{border-collapse:collapse;border-spacing:0}
:focus,:active{outline:0}
ol,ul{list-style:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
blockquote,q{quotes:none}
.clearfix:after{clear:both;content:"";display:block;font-size:0;height:0;visibility:hidden}
.center{text-align:center}
img{display:block;}




html, body {background:#fff;overflow-x:hidden;}
b {font-weight: bold;}

.wrapper, .block {width:960px; position: relative; left: 50%; margin-left: -480px; display: block;}
.block{margin-top:40px;padding-bottom:70px;}
#header{position: fixed;width: 100%;z-index: 3;}
a.up{display: block;position: fixed;z-index: 14;opacity: 0.5;bottom: 5%;background: url(../img/up.png) no-repeat;background-size: cover;width: 35px;height: 35px;}
a.up:hover{cursor: pointer;opacity: 1;bottom: 5.3%;
}
#top{width:100%;height:25px;
border-bottom:1px solid #c3c3c3;
background: #f1f2f2;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f2f2', endColorstr='#e6e6e7');
background: -webkit-linear-gradient(to bottom, #f1f2f2, #e6e6e7);
background: -moz-linear-gradient(to bottom, #f1f2f2, #e6e6e7);  
background: -o-linear-gradient(to bottom, #f1f2f2, #e6e6e7);
background: -ms-linear-gradient(to bottom, #f1f2f2, #e6e6e7);
background: linear-gradient(to bottom, #f1f2f2, #e6e6e7);
line-height: 25px;
font-size: 12px;
z-index: 999;
}
#select{position:absolute;left:0%;width:184px;height:40px; display: none;}
#select p{font-family:arial;}
#selector1{height: 21px;width: 21px;height: 21px;width: 21px;position: absolute;top: 2px;left: 100px;cursor: pointer;}
#selector2{height: 21px;width: 21px;position: absolute;top: 2px;left: 124px;cursor: pointer;}

#selector1.current, #selector2.current, #selector1:hover, #selector2:hover {background: url(/img/sel_bg.png);height: 21px;width: 21px;}
#vertical{background: url(/img/sel_ver.png); width: 9px; height: 13px; margin: 4px auto 0px;
}
#paralax{background: url(/img/sel_par.png);width: 15px;height: 10px;margin: 6px auto;}
#right{position:relative;float:right;right:0%;}
#cabinet{color:#000;border-left:1px solid #d7d7d7;text-align:center;width:140px;float:right; display: inline-block;}
#request_top{color:#000;border-left:1px solid #d7d7d7;float:right;text-align:center;width:140px; display: inline-block;}
#back_call{color:#000;float:right;text-align:center;width:150px;border-right:1px solid #d7d7d7;border-left:1px solid #d7d7d7; display: inline-block;}
#phone{float:right;margin-left:30px;font-weight:bold; display: inline-block;}

#headerbox{height:70px;
-webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.4);
-o-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.4);
-ms-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.4);
box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.4);
background: #fff;
}
#number_enter{position:absolute;width:189px;height:58px;background:#ececed;border:1px solid #cecece;z-index:3;right:95px;top:-194px;-webkit-box-shadow:1px 3px 5px 0px rgba(0,0,0,0.4);-moz-box-shadow:1px 3px 5px 0px rgba(0,0,0,0.4);-o-box-shadow:1px 3px 5px 0px rgba(0,0,0,0.4);-ms-box-shadow:1px 3px 5px 0px rgba(0,0,0,0.4);box-shadow:1px 3px 5px 0px rgba(0,0,0,0.4);}
#number_enter p{font-size:11px;width:170px;margin-left:5px;color:#757575;}
#number_enter input[type="text"]{border:none;height:18px;width:157px;margin-left:4px;display:inline-block;float:left;}
#number_enter input[type="submit"]{border:none; background: url(/img/submit.png) no-repeat; width: 20px; height: 20px; background-size: cover; position: relative; left: -3px; display: inline-block; float: right; cursor: pointer;}
form#enter{margin-top: 3px}


#enter_cabinet{position:absolute;width:165px;height:123px;background:#ececed;border:1px solid #cecece;z-index:3;right:401px;top:-300px;-webkit-box-shadow:1px 3px 5px 0px rgba(0,0,0,0.4);-moz-box-shadow:1px 3px 5px 0px rgba(0,0,0,0.4);-o-box-shadow:1px 3px 5px 0px rgba(0,0,0,0.4);-ms-box-shadow:1px 3px 5px 0px rgba(0,0,0,0.4);box-shadow:1px 3px 5px 0px rgba(0,0,0,0.4);}
#enter_cabinet p{font-size:11px;width:165px;margin-left:5px;color:#757575;}
#enter_cabinet input[type="text"]{border:none;height:18px;width:157px;margin-left:4px;display:inline-block;float:left;}
#enter_cabinet input[type="password"]{border:none;height:18px;width:157px;margin-left:4px;display:inline-block;float:left;}
#enter_cabinet input[type="submit"] {
border: none;
width: 157px;
height: 20px;
position: relative;
background: #fff;
display: block;
float: right;
top: 3px;
right: 4px;
cursor: pointer;
color:#757575;
}
#enter_to_cab{margin-top: 15px}

a#logo{display:block; background: url(/img/logo.jpg) no-repeat; background-size: cover; height: 50px; width: 189px; position: absolute; top: 12px; left: 12px;}
#nav{position:absolute;left:212px;line-height:70px;margin-top:0px;width:55%;}
#nav li{float:left;}
#nav li a{height:67px;display:block;color:#000;font-weight:bold;font-family:arial;padding:0 7px;font-size:12px;margin:0 1px;line-height:90px;}
#nav li a:hover, #nav li.curr a,#nav li ul#uslugi li a:hover, #nav li ul#uslugi li.curr a{border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3; margin: 0px;}

#nav li:hover ul#uslugi{display:block; position: absolute; }
#nav li ul#uslugi {display:none;width: 950px;margin-top: 3px; border: 1px solid #e3e3e3; background: #fff; ;margin-left: -363px; ;;margin-left: -352px; ;;;margin-left: -357px;}
#nav li ul#uslugi li{display: inline-block; background-color: #fff; text-align: center; float: left; height: 43px;}
#nav li ul#uslugi li a{display: block; background-color: #fff;height:42px;color:#000;font-weight:bold;font-family:arial;font-size:12px;line-height:56px !important;} 
#nav li ul#uslugi li a:hover, #nav li ul#uslugi li.curr a{border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3;border-top:1px solid #e3e3e3;margin-top:-1px;}
#nav li:hover,#nav li.curr{border-bottom:3px solid #1f8eda;}
.search{float:right;position:relative;right:20px;top:21px;}
.search input[type="submit"] {border:none;background:url(/img/search.png) no-repeat;background-size:cover;height:17px;width:13px;position:relative;left:23px;top:3px;cursor:pointer;z-index:2;}
.search input[type="search"] {border:1px solid #6db5e7;position:relative;background:none;height:24px;width:172px;padding-left:20px; -webkit-box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.1);
-moz-box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.1);
--o-box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.1);-ms-box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.1);box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.1);font-size: 11px;}

#block1{margin-top:135px;}
#laba{ display:block; }
#laba img{ display:block; width:858px; float:right; position:relative; }
.laba_href{position:absolute;color:#fff;text-transform:uppercase;font-size:10px;line-height:12px;}
.laba_href:hover{margin-top: 1px; color:#eee;}
#laba_href1{top:101px;left:143px;width:24px;}
#laba_href2{top:166px;left:188px;}
#laba_href3{top:214px;left:126px;}
       
.stripe{border-top:1px solid #1F8EDA;position:relative;top:20px;width:100%;}
.town{width:49%;float:left;margin-top:25px;}
.e{position: absolute; left: 38%; width: 8%;}
.content{float:right;width:50%; color: #000;}
#content{padding-bottom: 20px; margin-top: 150px; width: 100%;}
.content h1{text-transform:uppercase;font-size:16px;font-weight:bold; border-bottom:3px solid; text-align:center;}
.content h2,{font-size: 16px; font-weight: bold; margin-top: 10px;}
.content p, #content p {font-size:11px;margin-top:15px;line-height:14px;}
.content li,.content li a,.content ul{font-size:12px; color:#000; line-height:17px;}
.content li a{text-decoration: underline;}


#online_pic{background:url(/img/online.png) no-repeat;width:47%;height:270px;background-size:contain;position:absolute;top:58px;}

@media screen and (min-width: 1350px) {
.wrapper, .block {width:1240px; position: relative; left: 50%; margin-left: -620px; }
.block{margin-top:30px;padding-bottom:60px;}

#top{height: 30px; line-height: 30px; font-size: 14px;}
#selector1{left: 115px;top: 4px;}
#selector2{left: 137px;top: 4px;}

#number_enter{right: 92px;width: 210px;height: 65px; }
#number_enter p{ font-size: 13px; width: 200px;}
#number_enter input[type="text"]{ height: 20px; width: 176px;}
#number_enter input[type="submit"]{ width: 22px; height: 22px;}
form#enter{margin-top: 5px}

#enter_cabinet{right: 334px;width: 250px;height: 145px; }
#enter_cabinet p{ font-size: 13px; width: 200px;}
#enter_cabinet input[type="text"]{ height: 20px; width: 240px;}
#enter_cabinet input[type="password"]{ height: 20px; width: 240px;}
#enter_cabinet input[type="submit"]{ width: 240px; height: 22px; right: 6px; top:8px;}
form#enter_to_cab{margin-top: 15px}

#headerbox{height: 85px;font-size: 14px;}
a#logo{ width: 277px; height: 72px; top: 9px;}
#nav{left: 303px;}
#nav li a{height: 81px;font-size: 14px;padding: 0 14px;line-height: 100px; }

#nav li ul#uslugi {width: 1224px;margin-left: -497px;}
#nav li ul#uslugi li{ height: 60px;}
#nav li ul#uslugi li a{height:60px;font-size:14px;line-height:75px !important;} 

.search input[type="search"]{ width: 210px; height: 28px; font-size: 13px; padding-left: 25px;}
.search input[type="submit"]{ height: 20px; width: 15px; top: 6px;}

.content h1{text-transform:uppercase;font-size:18px;font-weight:bold; border-bottom:3px solid; text-align:center; margin-top:-2px;}
.content h2{font-size: 16px; font-weight: bold; margin-top: 10px;}
.content p, #content p, label.required{font-size:18px;margin-top:25px;line-height:35px;}
span.required{color:red;}
.content p, #content p, label{font-size:13px;margin-top:25px;line-height:35px;}
.content li,.content li a,.content ul{font-size:14px; color:#000; line-height:20px;}
#content{padding-bottom: 20px; margin-top: 190px; float:right;}
#CommOfferShort_site_url{width: 255px;}
#CommOfferShort_comment{width: 295px;height: 78px;}

}


@media screen and (min-width: 1850px) {
.wrapper, .block {width:1720px; position: relative; left: 50%; margin-left: -860px; }
.block{margin-top:50px;padding-bottom:80px;}

#top{height: 35px; line-height: 35px; font-size: 16px;}
#selector1{left: 125px;top: 6px;}
#selector2{left: 149px;top: 6px;}

#headerbox{height: 100px;}
a#logo{ width: 350px; height: 89px; top: 6px;}
#nav{left: 429px;}
#nav li:hover,#nav li.curr{border-bottom:4px solid #1f8eda;}
#nav li a{height: 96px;font-size: 16px;padding: 0 27px;line-height: 116px; }

#nav li ul#uslugi {width: 1566px;margin-top: 4px;margin-left: -621px;}
#nav li ul#uslugi li{ height: 75px;}
#nav li ul#uslugi li a{height:75px;font-size:16px;line-height:90px !important;} 

.search input[type="search"]{ width: 315px; height: 30px; font-size: 15px; padding-left: 35px; margin-top: 15px;}
.search input[type="submit"]{ height: 25px; width: 19px; left: 28px;}
#enter_cabinet{right: 326px;width: 270px;height: 165px; }
#enter_cabinet p{ font-size: 15px; width: 216px;line-height: 20px;}
#enter_cabinet input[type="text"]{ height: 24px; width: 262px;}
#enter_cabinet input[type="password"]{ height: 24px; width: 262px;}
#enter_cabinet input[type="submit"]{ width: 262px; height: 24px; right: 4px; top:8px;}
form#enter_to_cab{margin-top: 15px}




#number_enter{right: 34px;width: 280px;height: 80px; }
#number_enter p{ font-size: 15px; width: 216px;}
#number_enter input[type="text"]{ height: 24px; width: 200px;}
#number_enter input[type="submit"]{ width: 26px; height: 26px; left: -3px;}
form#enter{margin-top: 7px}
}

/* online-заявка*/

#content h1{text-transform:uppercase;font-size:16px;font-weight:bold; border-bottom:3px solid #1F8EDA; text-align:center; width:240px; margin-left: 48.5%; color: #1F8EDA;}
a#logo_online img{width: 100%}
#stripe_right{background: url(/img/stripe_right.png); display: block; position: absolute; background-repeat: repeat-y; right: 0%; background-size: contain; width: 35px; height: 100%;}

label{font-weight: bold;font-size: 13px;margin-left: 8px;}
.row.buttons, .row, p.note{position: relative; left: 3%;}
.row.buttons { line-height:35px;}
.row.buttons a p{display:inline-block;color:#000;text-decoration:underline;}
.row.buttons p.required{display:inline-block; white-space: pre;}
.row.buttons input[type="submit"]{border:none;position:absolute;font-size:16px;padding:5px 93px;background:#1e8bd6;color:#fff;cursor:pointer;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;left:0%;top:7px;}

.errorSummary{ margin-left: 5%;}
.errorSummary p{font-weight: bold; padding-bottom: 25px;}
.errorSummary ul{margin-left:3%;font-weight: 100; line-height: 25px; margin-bottom: 35px;}

.full-form-links p a{
    background: none repeat scroll 0 0 #1C9CCD;
    border: medium none;
    border-radius: 2px;
    bottom: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 15px;
    right: 6%;
}
.row input[type="text"]{font-style: italic;} 
.row input[type="text"]{border:1px solid #6db5e7;background:none;height:24px;width:172px;padding-left:20px; -webkit-box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.1); margin-bottom: 20px;}
.row img{width:13px;float:left;height:13px;position:relative;top:3px;}

#wrapper_online{margin-bottom:40px;width:53%;position:relative;left:48%;}
#first{display:inline-block;position:relative;top:-27px;}
#second{display:inline-block;margin-left:38px;margin-top:4px;}
textarea{font-family: arial;border:1px solid #6db5e7;background:none;width:226px;padding-left:20px; -webkit-box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.1); margin-bottom: 24px; font-style: italic; margin-top: 6px;}
#boxes{margin-top: 12px; position: relative;}

@media screen and (max-width: 1050px){
#stripe_right{display: none;}

}


@media screen and (min-width: 1350px) {
#stripe_right{ width: 40px;}
#online_pic{height:344px;top:227px;}
#content h1{text-transform:uppercase;font-size:16px;font-weight:bold; border-bottom:3px solid #1F8EDA; text-align:center; width:240px; margin-left: 48.5%; color: #1F8EDA;}
a#logo_online img{width: 100%}
label{font-weight: bold;font-size: 15px;margin-left: 8px;}
.row.buttons, .row, p.note{position: relative; left: 3%;}
.row.buttons { line-height:35px;}
.row.buttons a p{display:inline-block;color:#000;text-decoration:underline;}
.row.buttons p.required{display:inline-block; white-space: pre;}
.row.buttons input[type="submit"]{border:none;position:absolute;font-size:16px;padding:6px 129px;background:#1e8bd6;color:#fff;cursor:pointer;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;left:0%;top:7px;}

.errorSummary{ margin-left: 5%;}
.errorSummary p{font-weight: bold; padding-bottom: 25px;}
.errorSummary ul{margin-left:3%;font-weight: 100; line-height: 25px; margin-bottom: 35px;}

.full-form-links p a{
    background: none repeat scroll 0 0 #1C9CCD;
    border: medium none;
    border-radius: 2px;
    bottom: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 15px;
    right: 6%;
}
.row input[type="text"]{font-style: italic;} 
.row input[type="text"]{border:1px solid #6db5e7;background:none;height:24px;width:255px;padding-left:20px; -webkit-box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.1); margin-bottom: 20px;}
.row img{width:15px;float:left;height:15px;position:relative;top:10px;}

#wrapper_online{margin-bottom:40px;width:53%;position:relative;left:48%;}
#first{display:inline-block;position:relative;top:-39px;}
#second{display:inline-block;margin-left:38px;margin-top:4px;}
textarea{font-family: arial;border:1px solid #6db5e7;background:none;width:226px;padding-left:20px; -webkit-box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.1); margin-bottom: 24px; font-style: italic; margin-top: 6px;}
#boxes{margin-top: -2px; position: relative;}

}
@media screen and (min-width: 1850px) {
#stripe_right{ width: 55px;}
#online_pic{height:460px;top:200px;}
#content h1{text-transform:uppercase;font-size:16px;font-weight:bold; border-bottom:3px solid #1F8EDA; text-align:center; width:240px; margin-left: 48.5%; color: #1F8EDA;}
a#logo_online img{width: 100%}
label{font-weight: bold;font-size: 17px;margin-left: 8px;}
.row.buttons, .row, p.note{position: relative; left: 3%;}
.row.buttons { line-height:35px;}
.row.buttons a p{display:inline-block;color:#000;text-decoration:underline;}
.row.buttons p.required{display:inline-block; white-space: pre;}
.row.buttons input[type="submit"]{border:none;position:absolute;font-size:16px;padding:5px 134px;background:#1e8bd6;color:#fff;cursor:pointer;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;left:0%;top:7px;}

.errorSummary{ margin-left: 5%;}
.errorSummary p{font-weight: bold; padding-bottom: 25px;}
.errorSummary ul{margin-left:3%;font-weight: 100; line-height: 25px; margin-bottom: 35px;}

.full-form-links p a{
    background: none repeat scroll 0 0 #1C9CCD;
    border: medium none;
    border-radius: 2px;
    bottom: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 15px;
    right: 6%;
}
.row input[type="text"]{font-style: italic;} 
.row input[type="text"]{border:1px solid #6db5e7;background:none;height:24px;width:291px;padding-left:20px; -webkit-box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.1); margin-bottom: 20px;}
.row img{width:16px;float:left;height:16px;position:relative;top:9px;}

#wrapper_online{margin-bottom:40px;width:53%;position:relative;left:48%;}
#first{display:inline-block;position:relative;top:-40px;}
#second{display:inline-block;margin-left:38px;margin-top:12px;}
textarea{font-family: arial;border:1px solid #6db5e7;background:none;width:226px;padding-left:20px; -webkit-box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.1); margin-bottom: 24px; font-style: italic; margin-top: 6px;}
#boxes{margin-top: 0px; position: relative;}



}



